
@import 'variables.css.scss';

/** ELEMENTS **/
html {font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
/*font-size: 12px;font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;*/}
a {text-decoration:none; color:black;}
a:hover {text-decoration:underline;}

/*a:hover {color: $c-head; text-shadow: 0px 0px 15px $c-gray;}*/
/*h1, h2 {line-height: 1.2em; text-shadow: 0px 0px 1px $c-gray;font-family: 'Merriweather', arial, serif;}*/
h1, h2, h3, h4 {
    font-size: 30px; color: #333;
    line-height: 1em;
    font-weight: bold;
}

h1 {margin-top: 0;}
h2 {font-size: 24px; margin-top: 1em; }
h3 {font-size: 18px; }
h4 {font-size: 12px; color: $c-gray;}
em {font-style: italic;}
strong {font-weight:bold;}

/** TABLE **/
table {width: 90%; margin: 10px auto; border-bottom: 1px solid $c-bg;}
table tr {border-top: 1px solid $c-bg;}
table td {padding: 2px 5px;}
table tr .button-group {width: 60px; margin-left:10px;}
table tr .button-group .button {
    overflow:hidden; text-indent:-10000px; width: 1em;padding: 2px 1px 2px 5px;
}

form {
    margin: 10px auto;

    label {display:block;}
    div.button-group {margin-top:10px;}

    div.input {margin-bottom:10px;}
    .hint {display: block; color: gray;}
    .error {display: block;color:#c00;}

    input[type=text], input[type=password],
    input[type=url], input[type=number],
    input[type=email], textarea {
        width: 100%;
        border: 1px solid $c-bg; padding: 2px 3px;
    }
 }
