
@import "variables.css.scss";

.container {width: 100%; overflow: hidden;}

#page {
    width: $s-width; margin: 0 auto;
}

#page .content {padding: 20px;}


.session {
    background-color: $c-gray;
    padding: 2px 10px;

    color: white;

    a {color: white;}
}

a.action {color: #AAA;}
a.action:hover {color: black; background-color: yellow;}