

@import "variables.css.scss";

$s-list: 100px;

div.publication {
    div.main {
        float: left;
        width: ($s-width - $s-list - 40) / 2 - 10;
        margin-right: 10px;
    }

    div.pubart {
        float: left;
        width: ($s-width - $s-list - 40) / 2 - 10;
        margin-right: 10px;
        overflow: hidden;
    }

    div.publications {
        float: left;  width: $s-list;
        border-top: 1px solid $c-gray;
    }
}

div.publication {
    ul.children {margin-top: 20px;}

    .missing-art {
        background-color: $c-graylt;
    }

    div.pubart {
        img {width: 100%;}
    }

    div.license {margin-top: 20px; font-size: 80%;}
    div.description {margin-top: 20px;}
}

.art img {width: 100%;}
