
/** VARIABLES **/
$c-bg: #D6D6D6;
$c-text: #333;
$c-gray: gray;
$c-red: #CA0202;
$c-orange: #f19c03;
$c-blue: #40cafc;
$c-link: $c-orange;
$c-head: #333;
$c-line: #CCC;

$s-width: 980px;
$s-content: 80%;
